<% @tasks.each do |task| %>
	<% if task.completed? %>
	<li>
		<p class="button input"><%= link_to 'reopen', incomplete_task_path(task) %></p>
		<h2><%= task.task %></h2>
		<p class="button input delete"><%= link_to 'delete', task_path(task), :confirm => 'Are you sure?', :method => :delete %></p>
	</li>
	<% else %>
	<% end %>
<% end %>
