html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:1em;
  vertical-align:baseline;
  background:transparent;
}  

header, nav, article, footer, address, section {  
    display: block;  
} 

body {
  background: #cac2b3;
  color: #333;
  font-family: Georgia, serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: Georgia, serif;
  font-size: 13px;
  line-height: 18px; }

h2 {
	font-size: 2em;
	font-weight: normal;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
	text-decoration: none;
	outline: 0;
  &:visited {
    color: #666; }
  &:hover {
    color: #000;
 } }

img {
	border: 0;
}

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }

/* main page elements */

header {
	background: rgba(0, 0, 0, 0.2);
}

header #header_content {
	width: 950px;
	height: 3em;
	margin: 0 auto;
	padding-top: 20px;
}

header h1 {
	float: left;
	font-size: 2em;
}

header hgroup {
	float: right;
}

header h2, header h3 {
	font-size: 1.5em;
	font-weight: normal
}

header a {
	text-decoration: underline;
}

header hgroup h2, header hgroup h3 {
	float: left;
	margin-left: 15px;
}

#main {
	margin: 15px auto;
	width: 950px;
	background: #FFF;
}

#filter {
	height: 50px;
	border-bottom: 1px solid #acc4d1;
	padding: 30px 0 0 0;
	width: 800px;
	margin: 0 auto;
}

#filter form {
	display: block;
	float: left;
	color: #000;
}

#all_tasks {
	width: 800px;
	margin: 15px auto;
	padding-bottom: 50px;
}

#complete {
	position: relative;
	top: 30px;
	color: black;
}

