#tasks li {
	list-style-type: none;
	clear: both;
	padding: 15px 0 10px;
	margin: 5px 0;
	background: #e0eef5;
	float: left;
	width: 800px;
	-moz-box-shadow: 0px 2px 2px #acc4d1;
	-moz-border-radius: 5px;
}

#tasks p, #tasks h2 {
	float: left;
}

#tasks h2 {
	position: relative;
	top: 10px;
}

#tasks img {
	margin-left: 10px;
}

#tasks .category, #tasks .time {
	display: block;
	height: 30px;
	font-size: 1.25em;
	border-right: 1px solid #acc4d1;
	padding-top: 10px;
	text-align: center;
	margin-left: 0;
}

#tasks .time {
	border-left: 1px solid #acc4d1;
	width: 100px;
}

#tasks .category {
	width: 120px;
	margin-right: 10px;
}

p#new-task, div.button {
	clear: both;
}

.completed {
	background: #eee;
}

.more_info, .more {
	clear: both;
	width: 760px;
	background: #e0eef5;
	margin: 50px 20px;
	border-top: 1px solid #acc4d1;
}

#tasks .description {
	width: 80%;
	min-height: 100px;
	margin-top: 15px;
	padding: 15px 20px;
}

li .details {
	float: right;
	margin-right: 20px;
}

.checkbox {
	display: block;
	height: 30px;
	width: 30px;
	float: left; 
	margin: 0 20px;
}

.input {
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #FFF;
	border: 2px solid #acc4d1;
}

.button {
	padding: 7px 0;
	text-align: center;
	width: 90px;
}

#tasks .controls {
	float: right;
	position: relative;
	width: 94px;
}

#tasks .controls p {
	font-size: 1.25em;
	text-align: center;
	margin-top: 15px;
}

#complete {
	clear: both;
	position: relative;
	top: 30px;
}

/******* edit task *******/

#edit .controls p input {
	font-family: Georgia, serif;
	font-size: 1em;
}

#edit .title input {
	height: 30px;
	margin-top: 0;
	width: 400px;
	padding: 0 10px;
	font-size: 1.25em;
	font-family: Georgia, serif;
	line-height: 0;
}

#edit .description {
	height: 200px;
	width: 600px;
}

#edit textarea {
	font-family: Georgia, serif;
}

#complete .button {
	margin: 0 20px;
}

#complete .delete {
	float: right;
}