// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li {
	list-style-type: none;
	clear: both;
}

#tasks p, #tasks h3, #tasks form {
	float: left;
	margin-left: 15px;
}

#tasks form input {
	margin-top: 20px;
}

p#new-task, div.button {
	clear: both;
}

.completed {
	color: #ddd;
}